In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import unidecode 
from bs4 import BeautifulSoup 
# from wordcloud import WordCloud
import re
import emoji
import nltk
from autocorrect import Speller 
import numpy as np
import re 
import time 
import nltk
from emoticon_fix import emoticon_fix
from autocorrect import Speller 
import spacy
import nltk.corpus
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,precision_score,recall_score,confusion_matrix,roc_curve,classification_report
# from scikitplot.metrics import plot_confusion_matrix

In [4]:
comments_df=pd.read_csv('Youtube_comments_codebasics.csv')
comments_df.drop('Unnamed: 0', inplace=True, axis=1)
comments_df.head()

,Video Number,Title,Date Published,Views,Likes,Auther,Comment
0,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Relax_user,"Hi Mr.Patel, I am thinking about doing a maste..."
1,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Harsh Mehta,Pls come up with data analyst or data engineer...
2,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Nikhil Sachdeva,I am learning the full stack web app developme...
3,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Ajinkya,"Hello, Did you teach data analysis using Jupyt..."
4,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Mohammed Shabaaz,Please come up with SQL course please?Eagerly ...

In [5]:
comments_df.shape

(18726, 7)

In [6]:
comments_df.columns

Index(['Video Number', 'Title', 'Date Published', 'Views', 'Likes', 'Auther',
       'Comment'],
      dtype='object')

In [7]:
comments_df.describe()

       Video Number         Views         Likes
count  18726.000000  1.872600e+04  18726.000000
mean     283.104080  1.944550e+05   5464.186639
std      132.009849  2.447171e+05   8908.334056
min        1.000000  1.104000e+03      1.000000
25%      195.000000  3.303500e+04    729.000000
50%      270.000000  8.093600e+04   1834.000000
75%      411.000000  2.500060e+05   5068.000000
max      527.000000  1.043729e+06  37329.000000

In [8]:
comments_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18726 entries, 0 to 18725
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Video Number    18726 non-null  int64
 1   Title           18726 non-null  object
 2   Date Published  18726 non-null  object
 3   Views           18726 non-null  int64
 4   Likes           18726 non-null  int64
 5   Auther          17558 non-null  object
 6   Comment         18145 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.0+ MB

In [9]:
comments_df.isna().sum()

Video Number         0
Title                0
Date Published       0
Views                0
Likes                0
Auther            1168
Comment            581
dtype: int64

In [10]:
comments_df.dropna(subset=['Comment'], inplace=True, axis=0)

In [11]:
comments_df.isna().sum()

Video Number        0
Title               0
Date Published      0
Views               0
Likes               0
Auther            642
Comment             0
dtype: int64

In [12]:
comments_df.shape

(18145, 7)

In [13]:
comments_df.to_csv("comments_df.csv", index=False)

In [14]:
comments_df.head()

,Video Number,Title,Date Published,Views,Likes,Auther,Comment
0,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Relax_user,"Hi Mr.Patel, I am thinking about doing a maste..."
1,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Harsh Mehta,Pls come up with data analyst or data engineer...
2,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Nikhil Sachdeva,I am learning the full stack web app developme...
3,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Ajinkya,"Hello, Did you teach data analysis using Jupyt..."
4,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Mohammed Shabaaz,Please come up with SQL course please?Eagerly ...

<b>Text Cleaning  and Preproccressing</b>

In [15]:
comments_df.iloc[139]['Comment']

'Check https://codebasics.io/?utm_source=pin-comment&utm_medium=yt&utm_campaign=pin-comment&utm_id=youtube for my video courses (that are based on project based effective and intuitive learning)'

In [16]:
def remove_links(text):
    # Removing all the occurrences of links that starts with https
    remove_https = re.sub(r'http\S+', '', text)
    # Remove all the occurrences of text that ends with .com
    remove_com = re.sub(r"\ [A-Za-z]*\.com", " ", remove_https)
    return remove_com

In [17]:
comments_df['Clean_comment'] = comments_df['Comment'].apply(remove_links)
comments_df.iloc[139]['Clean_comment']

'Check  for my video courses (that are based on project based effective and intuitive learning)'

In [18]:
comments_df.head()

,Video Number,Title,Date Published,Views,Likes,Auther,Comment,Clean_comment
0,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Relax_user,"Hi Mr.Patel, I am thinking about doing a maste...","Hi Mr.Patel, I am thinking about doing a maste..."
1,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Harsh Mehta,Pls come up with data analyst or data engineer...,Pls come up with data analyst or data engineer...
2,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Nikhil Sachdeva,I am learning the full stack web app developme...,I am learning the full stack web app developme...
3,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Ajinkya,"Hello, Did you teach data analysis using Jupyt...","Hello, Did you teach data analysis using Jupyt..."
4,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Mohammed Shabaaz,Please come up with SQL course please?Eagerly ...,Please come up with SQL course please?Eagerly ...

In [19]:
comments_df.iloc[4272]['Clean_comment']

"Sir I'm fresher and i haven't done any project untill and naukri app is asking for add project( 8%) how can i remove it and i can make it to 100%\nPlz help me"

In [20]:
CONTRACTION_MAP = {
"ain't": "is not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he would",
"he'd've": "he would have",
"he'll": "he will",
"he'll've": "he he will have",
"he's": "he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how is",
"i'd": "i would",
"i'd've": "i would have",
"i'll": "i will",
"i'll've": "i will have",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it would",
"it'd've": "it would have",
"it'll": "it will",
"it'll've": "it will have",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she would",
"she'd've": "she would have",
"she'll": "she will",
"she'll've": "she will have",
"she's": "she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as",
"that'd": "that would",
"that'd've": "that would have",
"that's": "that is",
"there'd": "there would",
"there'd've": "there would have",
"there's": "there is",
"they'd": "they would",
"they'd've": "they would have",
"they'll": "they will",
"they'll've": "they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what'll've": "what will have",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"when's": "when is",
"when've": "when have",
"where'd": "where did",
"where's": "where is",
"where've": "where have",
"who'll": "who will",
"who'll've": "who will have",
"who's": "who is",
"who've": "who have",
"why's": "why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you would",
"you'd've": "you would have",
"you'll": "you will",
"you'll've": "you will have",
"you're": "you are",
"you've": "you have",
}
# The code for expanding contraction words
def expand_contractions(text, contraction_mapping =  CONTRACTION_MAP):
    # Tokenizing text into tokens.
    list_Of_tokens = text.split(' ')
    
    # Check whether Word is in list_Of_tokens or not.
    for Word in list_Of_tokens: 
        # Check whether found word is in dictionary "Contraction Map" or not as a key. 
         if Word in CONTRACTION_MAP: 
                # If Word is present in both dictionary & list_Of_tokens, replace that word with the key value.
                list_Of_tokens = [item.replace(Word, CONTRACTION_MAP[Word]) for item in list_Of_tokens]
                
    # Converting list of tokens to String.
    String_Of_tokens = ' '.join(str(e) for e in list_Of_tokens) 
    return String_Of_tokens

In [21]:
comments_df['Clean_comment'] = comments_df['Comment'].apply(expand_contractions)
comments_df.iloc[4272]['Clean_comment']

"Sir I'm fresher and i have not done any project untill and naukri app is asking for add project( 8%) how can i remove it and i can make it to 100%\nPlz help me"

**Dealing with Emoticon i.e :-)**

In [22]:
print(comments_df.iloc[202]['Clean_comment'])

Exercise Completed without your Solution. Thanks :-)

In [23]:
comments_df['Clean_comment'] = comments_df['Comment'].apply(emoticon_fix.emoticon_fix)
print(comments_df.iloc[202]['Clean_comment'])

Exercise Completed without your Solution . Thanks Smile

**Dealing with Emoji i.e :-)**

In [24]:
comments_df['Clean_comment'] = comments_df['Clean_comment'].apply(emoji.demojize)

In [25]:
comments_df['Clean_comment'] = comments_df['Clean_comment'].apply(remove_links)
print(comments_df.iloc[139]['Clean_comment'])
print(comments_df.iloc[4272]['Clean_comment'])

Check  for my video courses ( that are based on project based effective and intuitive learning )
Sir I'm fresher and i haven't done any project untill and naukri app is asking for add project ( 8 % ) how can i remove it and i can make it to 100 % Plz help me

In [26]:
def clean_comments(text):
    "takes text in raw format and returns clean text with only words and letters. "
    
    text = re.sub(r"[0-9]+", "", text)
    text = text.lower()   # Lower case
    
    text = re.sub(r"_", " ", text)
    text = re.sub(r"[0-9]+", "", text)
    text = re.sub(r"(@\[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", text)
    text = re.sub(r'[-"?$+:&%!.(),@>]', "", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\n", " ", text)
    text = re.sub(r"'s", "", text)
    
    text = text.replace('@', '')
    text = re.sub(r"[^a-zA-Z0-9:$-,%.?!]+", ' ', text) 
    text = re.sub(r"(@\[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", text)
    text = text.replace('\\n', ' ').replace('\n', ' ').replace('\t',' ').replace('\\', ' ').replace('. com', '.com')
    
    # remove_whitespace
    pattern = re.compile(r'\s+') 
    Without_whitespace = re.sub(pattern, ' ', text)
    # There are some instances where there is no space after '?' & ')', 
    # So I am replacing these with one space so that It will not consider two words as one token.
    text = Without_whitespace.replace('?', ' ? ').replace(')', ') ')
    return text
    
    text = unidecode.unidecode(text)
    
    text = text.strip()
    
    return text

In [27]:
comments_df['Clean_comment'] = comments_df['Clean_comment'].apply(clean_comments)
print(comments_df.iloc[139]['Clean_comment'])
print(comments_df.iloc[202]['Clean_comment'])
print(comments_df.iloc[4272]['Clean_comment'])

check for my video courses that are based on project based effective and intuitive learning
exercise completed without your solution thanks smile
sir im fresher and i havent done any project untill and naukri app is asking for add project how can i remove it and i can make it to plz help me

In [28]:
comments_df.iloc[4291]['Clean_comment']

'thank uuuu so muchhh sirrr '

In [29]:
# Code for removing repeated characters and punctuations

def reducing_incorrect_character_repeatation(text):
    
    # Pattern matching for all case alphabets
    Pattern_alpha = re.compile(r"([A-Za-z])\1{1,}", re.DOTALL)
    
    # Limiting all the  repeatation to two characters.
    Formatted_text = Pattern_alpha.sub(r"\1\1", text) 
    
    # Pattern matching for all the punctuations that can occur
    Pattern_Punct = re.compile(r'([.,/#!$%^&*?;:{}=_`~()+-])\1{1,}')
    
    # Limiting punctuations in previously formatted string to only one.
    Combined_Formatted = Pattern_Punct.sub(r'\\euler', Formatted_text)
    
    # The below statement is replacing repeatation of spaces that occur more than two times with that of one occurrence.
    Final_Formatted = re.sub(' {2,}',' ', Combined_Formatted)
    return Final_Formatted

In [30]:
comments_df['Clean_comment'] = comments_df['Clean_comment'].apply(reducing_incorrect_character_repeatation)
comments_df.iloc[4291]['Clean_comment']

'thank uu so muchh sirr '

### The various text preprocessing steps are:

#### 1:-Stop words removal
#### 2:-Tokenization
#### 3:-Stemming
#### 4:-Lemmatization

In [31]:
# Checking the first 10 most frequent words
from collections import Counter
cnt = Counter()
for text in comments_df['Clean_comment'].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(10)

[('i', 11178),
 ('the', 9850),
 ('to', 9794),
 ('you', 9516),
 ('and', 7476),
 ('for', 7176),
 ('a', 6882),
 ('in', 6065),
 ('is', 5268),
 ('of', 4609)]

In [32]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

In [33]:
def remove_stopwords(text):
    
    new_text = []
    for i in text.split(' '):
        
        if i not in stop_words:
            str(new_text.append(i))
            new_text.append(' ')
        else:
            pass
            
    text = ''.join(new_text)
    
    return text

In [34]:
comments_df['Clean_comment'] = comments_df['Clean_comment'].apply(remove_stopwords)
comments_df['Clean_comment']

0        hi mrpatel thinking masters data analytics how...
1        pls come data analyst data engineer bootcamp e...
2        learning full stack web app development dsa js...
3        hello teach data analysis using jupyter notebo...
4        please come sql course please eagerly waiting ...
                               ...
18195                                        mobile phone
18196                                 chromebook download
18197                             please make video scipy
18198          unable install python windows machine help
18199                           get error x cantu install
Name: Clean_comment, Length: 18145, dtype: object

In [35]:
# Checking the first 10 most frequent words
from collections import Counter
cnt = Counter()
for text in comments_df['Clean_comment'].values:
    for word in text.split():
        cnt[word] += 1
        
cnt.most_common(10)

[('sir', 4577),
 ('data', 3455),
 ('thank', 3075),
 ('video', 3044),
 ('thanks', 2394),
 ('please', 2093),
 ('great', 1747),
 ('much', 1730),
 ('videos', 1591),
 ('learning', 1411)]

In [36]:
comments_df.head()

,Video Number,Title,Date Published,Views,Likes,Auther,Comment,Clean_comment
0,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Relax_user,"Hi Mr.Patel, I am thinking about doing a maste...",hi mrpatel thinking masters data analytics how...
1,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Harsh Mehta,Pls come up with data analyst or data engineer...,pls come data analyst data engineer bootcamp e...
2,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Nikhil Sachdeva,I am learning the full stack web app developme...,learning full stack web app development dsa js...
3,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Ajinkya,"Hello, Did you teach data analysis using Jupyt...",hello teach data analysis using jupyter notebo...
4,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Mohammed Shabaaz,Please come up with SQL course please?Eagerly ...,please come sql course please eagerly waiting ...

In [37]:
from nltk import pos_tag
from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')
import nltk
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

<b>Tokenization</b>

In [38]:
comments_df['Tokenized'] = comments_df['Clean_comment'].apply(word_tokenize)

In [39]:
comments_df['Tokenized'].head()

0    [hi, mrpatel, thinking, masters, data, analyti...
1    [pls, come, data, analyst, data, engineer, boo...
2    [learning, full, stack, web, app, development,...
3    [hello, teach, data, analysis, using, jupyter,...
4    [please, come, sql, course, please, eagerly, w...
Name: Tokenized, dtype: object

<b>POS tagging
</b>

In [40]:
comments_df['POS_tag'] = comments_df['Tokenized'].apply(pos_tag)

In [41]:
comments_df.head()

,Video Number,Title,Date Published,Views,Likes,Auther,Comment,Clean_comment,Tokenized,POS_tag
0,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Relax_user,"Hi Mr.Patel, I am thinking about doing a maste...",hi mrpatel thinking masters data analytics how...,"[hi, mrpatel, thinking, masters, data, analyti...","[(hi, JJ), (mrpatel, NN), (thinking, VBG), (ma..."
1,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Harsh Mehta,Pls come up with data analyst or data engineer...,pls come data analyst data engineer bootcamp e...,"[pls, come, data, analyst, data, engineer, boo...","[(pls, NN), (come, VBN), (data, NNS), (analyst..."
2,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Nikhil Sachdeva,I am learning the full stack web app developme...,learning full stack web app development dsa js...,"[learning, full, stack, web, app, development,...","[(learning, VBG), (full, JJ), (stack, NN), (we..."
3,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Ajinkya,"Hello, Did you teach data analysis using Jupyt...",hello teach data analysis using jupyter notebo...,"[hello, teach, data, analysis, using, jupyter,...","[(hello, JJ), (teach, NN), (data, NNS), (analy..."
4,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Mohammed Shabaaz,Please come up with SQL course please?Eagerly ...,please come sql course please eagerly waiting ...,"[please, come, sql, course, please, eagerly, w...","[(please, VB), (come, JJ), (sql, JJ), (course,..."

<b>Lemmatization

Lemmatization is the process of reducing the words to its base word. For example the base word for looks, looking, looked is look.</b>

In [45]:
nlp = spacy.load('en_core_web_md', disable=['parser', 'ner'])

def lemmatization(texts, allowed_postags=['NOUN', 'ADJ']): 
    output = []
    for sent in texts:
        doc = nlp(sent) 
        output.append([token.lemma_ for token in doc if token.pos_ in allowed_postags ])
    return output

In [46]:
lemmatized_words = lemmatization(text_list)

#### Finding total length of lemmatized words for calculating Sentiment score.

In [47]:
comments_df['Lemmatized Words'] = [i for i in lemmatized_words]
comments_df['Total Length'] = [len(i) for i in lemmatized_words]
comments_df.head()

,Video Number,Title,Date Published,Views,Likes,Auther,Comment,Clean_comment,Tokenized,POS_tag,Lemmatized Words,Total Length
0,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Relax_user,"Hi Mr.Patel, I am thinking about doing a maste...",hi mrpatel thinking masters data analytics how...,"[hi, mrpatel, thinking, masters, data, analyti...","[(hi, JJ), (mrpatel, NN), (thinking, VBG), (ma...","[master, datum, analytic, firm, decision, seni...",9
1,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Harsh Mehta,Pls come up with data analyst or data engineer...,pls come data analyst data engineer bootcamp e...,"[pls, come, data, analyst, data, engineer, boo...","[(pls, NN), (come, VBN), (data, NNS), (analyst...","[datum, analyst, datum, engineer, bootcamp]",5
2,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Nikhil Sachdeva,I am learning the full stack web app developme...,learning full stack web app development dsa js...,"[learning, full, stack, web, app, development,...","[(learning, VBG), (full, JJ), (stack, NN), (we...","[full, stack, web, app, development]",5
3,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Ajinkya,"Hello, Did you teach data analysis using Jupyt...",hello teach data analysis using jupyter notebo...,"[hello, teach, data, analysis, using, jupyter,...","[(hello, JJ), (teach, NN), (data, NNS), (analy...","[datum, analysis, notebook]",3
4,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Mohammed Shabaaz,Please come up with SQL course please?Eagerly ...,please come sql course please eagerly waiting ...,"[please, come, sql, course, please, eagerly, w...","[(please, VB), (come, JJ), (sql, JJ), (course,...","[course, #, codebasic]",3

In [48]:
index = 88

print(f'Before: \n{text_list[index]}')

# text_list_lemma = comments_df['Comment'].tolist()
print(f'\nAfter: \n{lemmatized_words[index]}')

Before:
Sir you could include python intermediate and python advance as well in the course

After:
['intermediate', 'advance', 'course']

In [49]:
file1 = open('positive-words.txt', 'r')
pos_words= file1.read().split()

file2 = open('negative-words.txt', 'r')
neg_words= file2.read().split()

In [50]:
def count_pos(text):
    
    count = 0
    for i in text:
        if i in pos_words:
            count += 1
            
    return count

def count_neg(text):
    
    count = 0
    for i in text:
        if i in neg_words:
            count += 1
            
    return count

In [53]:
comments_df['Positive count'] = comments_df['Lemmatized Words'].apply(count_pos)
comments_df['Negative count'] = comments_df['Lemmatized Words'].apply(count_neg)
comments_df.head(10)

,Video Number,Title,Date Published,Views,Likes,Auther,Comment,Clean_comment,Tokenized,POS_tag,Lemmatized Words,Total Length,Positive count,Negative count
0,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Relax_user,"Hi Mr.Patel, I am thinking about doing a maste...",hi mrpatel thinking masters data analytics how...,"[hi, mrpatel, thinking, masters, data, analyti...","[(hi, JJ), (mrpatel, NN), (thinking, VBG), (ma...","[master, datum, analytic, firm, decision, seni...",9,0,0
1,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Harsh Mehta,Pls come up with data analyst or data engineer...,pls come data analyst data engineer bootcamp e...,"[pls, come, data, analyst, data, engineer, boo...","[(pls, NN), (come, VBN), (data, NNS), (analyst...","[datum, analyst, datum, engineer, bootcamp]",5,0,0
2,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Nikhil Sachdeva,I am learning the full stack web app developme...,learning full stack web app development dsa js...,"[learning, full, stack, web, app, development,...","[(learning, VBG), (full, JJ), (stack, NN), (we...","[full, stack, web, app, development]",5,0,0
3,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Ajinkya,"Hello, Did you teach data analysis using Jupyt...",hello teach data analysis using jupyter notebo...,"[hello, teach, data, analysis, using, jupyter,...","[(hello, JJ), (teach, NN), (data, NNS), (analy...","[datum, analysis, notebook]",3,0,0
4,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Mohammed Shabaaz,Please come up with SQL course please?Eagerly ...,please come sql course please eagerly waiting ...,"[please, come, sql, course, please, eagerly, w...","[(please, VB), (come, JJ), (sql, JJ), (course,...","[course, #, codebasic]",3,0,0
5,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Ajinkya,"But your DSA is incomplete, please complete it...",dsa incomplete please complete first dp etc,"[dsa, incomplete, please, complete, first, dp,...","[(dsa, NN), (incomplete, JJ), (please, NN), (c...","[incomplete, dp]",2,0,0
6,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Felix Gondwe,I love love your tutorials! Where's the merch?...,love love tutorials wheres merch coz fan need ...,"[love, love, tutorials, wheres, merch, coz, fa...","[(love, VB), (love, NN), (tutorials, NNS), (wh...","[tutorial, merch, fan, codebasic, shirt]",5,0,0
7,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,김우성,"Hi, Mr Patel \nCan i ask you to treat about gr...",hi mr patel ask treat growth hacking skills wa...,"[hi, mr, patel, ask, treat, growth, hacking, s...","[(hi, NN), (mr, NN), (patel, NN), (ask, NN), (...","[growth, hacking, skill, information]",4,0,0
8,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Praphul Shaw,How to do project pls help,project pls help,"[project, pls, help]","[(project, NN), (pls, NN), (help, NN)]",[project],1,0,0
9,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Atharv Kumar,While True:\n print('Nice :×D'),true print nice,"[true, print, nice]","[(true, JJ), (print, NN), (nice, NN)]",[true],1,0,0

In [55]:
comments_df['Sentiment'] = round(((comments_df['Positive count'] - comments_df['Negative count']) / comments_df['Total Length']), 2)
comments_df.head()

,Video Number,Title,Date Published,Views,Likes,Auther,Comment,Clean_comment,Tokenized,POS_tag,Lemmatized Words,Total Length,Positive count,Negative count,Sentiment
0,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Relax_user,"Hi Mr.Patel, I am thinking about doing a maste...",hi mrpatel thinking masters data analytics how...,"[hi, mrpatel, thinking, masters, data, analyti...","[(hi, JJ), (mrpatel, NN), (thinking, VBG), (ma...","[master, datum, analytic, firm, decision, seni...",9,0,0,0.0
1,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Harsh Mehta,Pls come up with data analyst or data engineer...,pls come data analyst data engineer bootcamp e...,"[pls, come, data, analyst, data, engineer, boo...","[(pls, NN), (come, VBN), (data, NNS), (analyst...","[datum, analyst, datum, engineer, bootcamp]",5,0,0,0.0
2,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Nikhil Sachdeva,I am learning the full stack web app developme...,learning full stack web app development dsa js...,"[learning, full, stack, web, app, development,...","[(learning, VBG), (full, JJ), (stack, NN), (we...","[full, stack, web, app, development]",5,0,0,0.0
3,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Ajinkya,"Hello, Did you teach data analysis using Jupyt...",hello teach data analysis using jupyter notebo...,"[hello, teach, data, analysis, using, jupyter,...","[(hello, JJ), (teach, NN), (data, NNS), (analy...","[datum, analysis, notebook]",3,0,0,0.0
4,1,The Learning Resource That Helped People Crack...,2022-07-21,4809,180,Mohammed Shabaaz,Please come up with SQL course please?Eagerly ...,please come sql course please eagerly waiting ...,"[please, come, sql, course, please, eagerly, w...","[(please, VB), (come, JJ), (sql, JJ), (course,...","[course, #, codebasic]",3,0,0,0.0